.App {
  text-align: center;
}

nav 
{
  display:flex;
  justify-content:space-around;
}

.user-name
{
  color: blue;
}

.user-avatar
{
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.user-position
{
  color: red;
}

.student-list
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

.student{
  margin: 20px;
  padding: 20px;
  box-shadow: rgb(201, 75, 75) 0px 3px 6px;
}

/* .student:hover
{
  cursor: pointer;
} */